@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
main{
    width: 60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80vh;
    transform: translate(-50%, -50%);
}
h1{
    margin: 2rem 0;
    font-size: 3rem;
}
.form{
    display: flex;
    align-items: center;
}
input{
    outline: none;
    width: -webkit-fill-available;
    padding:10px;
    border: 2px solid black;
}
button{
    width:150px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    outline: none;
    letter-spacing: 1.5px;
    font-weight: bold;
    cursor: pointer;
}

#tasks{
    margin-top: 2rem;
}
.task{
    display: flex;
    margin-bottom: .5rem;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
}
.task p{
    padding: 10px;
}
.material-symbols-sharp{
    padding: 10px;
    font-size: 20px;
    background: #000;
    color: white;
    cursor: pointer;
}

#qoute_error{
    background-color: rgba(255, 0, 0, 0.35);
    color: red;
    height:4rem;
    display: none;
    justify-content: space-between;
    border-left: 3px solid red;
    padding: 0px 20px;
    align-items: center;
    font-size: 20px;
    letter-spacing: 1.5px;
}

@media (max-width:520px){
    *{
        font-size: x-small;
    }
}