@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
main{
    width: 60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    margin: 2rem 0;
}
.form{
    display: flex;
    align-items: center;
}
input{
    outline: none;
    width: -webkit-fill-available;
    padding:10px;
    border: 2px solid black;
}
button{
    width:150px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    letter-spacing: 1.5px;
    font-weight: bold;
    cursor: pointer;
}